@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 214 41% 13%;
      --foreground: 30 42% 85%;

      --card: 214 41% 13%;
      --card-foreground: 30 42% 85%;

      --popover: 214 41% 13%;
      --popover-foreground: 30 42% 85%;

      --primary: 30 42% 85%;
      --primary-foreground: 23 43% 93%;

      --secondary: 232 51% 30%;
      --secondary-foreground: 238 23% 53%;

      --muted: 200 23% 61%;
      --muted-foreground: 200 22% 74%;

      --accent:  342 100% 68%;
      --accent-foreground: 30 41% 93%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 200 23% 61%;
      --input: 200 23% 61%;
      --ring: 216 27% 27%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }